<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:aop="http://www.springframework.org/schema/aop"
       xmlns:c="http://www.springframework.org/schema/c"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:jms="http://www.springframework.org/schema/jms"
       xmlns:p="http://www.springframework.org/schema/p"

       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-4.0.xsd
          http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-4.0.xsd
          http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-4.0.xsd
          http://www.springframework.org/schema/jms http://www.springframework.org/schema/jms/spring-jms-4.0.xsd
">

    <!--RMI configuration-->
    
    <bean id="manejadorOfertasSkeleton" class="edu.eci.arsw.exam.remote.ManejadorOfertasSkeleton">
        <property name="fachadaPersistenciaOfertas" ref="fachadaPersistenciaOfertas" />
    </bean>
    
    <bean class="org.springframework.remoting.rmi.RmiServiceExporter">
        <property name="serviceName" value="servicioManejoOfertas"/>
        <property name="service" ref="manejadorOfertasSkeleton"/>
        <property name="serviceInterface" value="edu.eci.arsw.exam.remote.ManejadorOfertasStub"/>
        <property name="registryPort" value="1199"/>
    </bean>    

    <!-- A JMS connection factory for ActiveMQ -->
    <bean id="connectionFactory" class="org.apache.activemq.ActiveMQConnectionFactory">
            <property name="brokerURL">
                    <value>tcp://localhost:61616</value>
            </property>
    </bean>


    <!-- A destination in ActiveMQ -->
    <bean id="destination" class="org.apache.activemq.command.ActiveMQTopic">
            <constructor-arg value="ofertasfreelancers" />
    </bean>


    <bean id="producerTemplate" class="org.springframework.jms.core.JmsTemplate"
            p:connectionFactory-ref="connectionFactory" p:defaultDestination-ref="destination" />


    <bean id="producer" class="edu.eci.arsw.exam.events.FreelancerRequestMessageProducer">
            <property name="jmsTemplate" ref="producerTemplate"></property>
    </bean>        

    <bean id="mainFrame" class="edu.eci.arsw.exam.MainFrame">
        <property name="messageProducer" ref="producer"/>
        <property name="fachadaPersistenciaOfertas" ref="fachadaPersistenciaOfertas"/>
    </bean>


    <bean id="fachadaPersistenciaOfertas" class="edu.eci.arsw.exam.FachadaPersistenciaOfertas" />
                        
                                                              
</beans>
